.create_event_form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.create_event_form label {
text-align: center;
color:white;
font-size: 2rem;
background: linear-gradient( to right , transparent , rgb(67, 83, 117) ,rgb(67, 83, 117) ,rgb(67, 83, 117) ,   transparent);
}

.create_event_form  input {
    padding:3rem!important;
    font-size: 1.6rem;
}

.create_event_form  textarea {
 
    font-size: 1.6rem;
}

.create_event_form  button {
    background: rgb(243, 240, 240)!important;
    border:0px!important;
    margin:0px;
    color:black!important;
    border: 1.3px solid rgba(0, 0, 0, 0.795)!important;
    height:5rem;
    text-align: center;
      font-size: 1.6rem;
  }