.formStyles{
    margin:0 auto;
    display:flex;
    flex-direction:column;
    max-width: 450px;
}

.formStyles input {
    padding:3rem!important;
    font-size: 1.6rem;
}

.formStyles button {
  background: rgb(243, 240, 240)!important;
  border:0px!important;
  margin:0px;
color:black!important;
border: 1.3px solid rgba(0, 0, 0, 0.795)!important;
height:5rem;
  text-align: center;
    font-size: 1.6rem;
}

.sign_header{
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, transparent , white , transparent);
} 
